#title {
    background-image: url('../images/book.jpg');
    background-size: 80% auto;
}

table {
    border-color: rgb(30,108,147);
    margin: auto;
    margin-top: 15%;
}

th {
    color: white;
    background-color: rgb(30,108,147);
}

td a {
    color: rgb(30,108,147);
}