html, div, body, h1, h2, h3, h4, h5, a, p{
    padding: 0;
    margin: 0;
}

a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

#menu {
    background-color: rgb(33,33,33);
    color: white;
    padding: 4%;
    padding-right: 5%;
    top: 0;
    float: right;
    width: 250px;
}

#menu ul {
    list-style: none;
}

#menu h2 {
    width: 250px;
    background-color: rgb(33,33,33);
}

#menu h3 {
    font-size: 12px;
    background-color: rgb(33,33,33);
}

#title {
    padding: 10%;
    background-repeat: no-repeat;
}

h1 {
    padding: 0;
    text-align: center;
    color: white;
    font-size: 50px;
}

h2, h3 {
    color: white;
    background-color: rgb(30,108,147);
    text-align: center;
    padding: 2%;
}

h2 {
    font-size: 30px;
}

h3 {
    padding-top: 0;
    font-size: 20px;
}

#author {
    padding: 2%;
    padding-top: 0%;
    text-align: center;
    font-style: italic;
    font-size: 10px;
}

.button {
    float: right;
    background-color: rgb(30,108,147);
}